# Backups
*~

# Object files
*.o
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# build products for dpkg
aprsc_*.changes
aprsc_*.deb

# build products in the test directory
tests/web/*
tests/logs/*
tests/data/*

#Crash files
core
